/* Layout */
header {
    background-color: #266aad;
}
.header-logo {
    width: 100%;
    max-width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.Main {
    min-height: 100vh;
}

.footer {
    background-color: #4297ce;

    margin-bottom: 700px;
}

/* end layout */

.btn-blue {
    color: #fbfdfe !important;
    background-color: #42b2df;
    border: none !important;
    min-width: 300px;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 0px;
}

